<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主题</title>
</head>
<body>
{% extends "base.html" %}

{% block header %}
    <h1>Topics</h1>
{% endblock header %}

{% block content %}
    <ul>
    {% for topic in topics %}
        <li>
            <h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3>
        </li>
        {#告诉Django在列表topics为空时该怎么办：这里是打印一条消息，告诉用户还没有添加任何主题#}
        {% empty %}
        <li>No topics have been added yet.</li>
    {% endfor %}
    </ul>
    <h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></h3>
{% endblock content %}
</body>
</html>